<h3><%= jobs_count %> Job Openings </h3>
<div class="row jobs">
  <% if jobs.size == 0 %>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><p class="lead"> No Jobs found with this criteria </p></div>
  <% end %>
  <% jobs.map do |job| %>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
      <div class="thumbnail job">
        <div class="caption">
          <h4><a target="_blank" href=<%= job.url %>><%= job.title %></a></h4>
          <p><span class="text-muted">by </span> <a target="_blank" href=<%= job.company.url %>><%= job.company.name %></a></p>
          <p>
            <span class="label label-primary"><%= job.team %></span>
            <span class="label label-success"><%= job.location %></span>
          </p>
          <p class="job_description"><%= truncate(job.description, length: 200) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>